body {
  border: 3px solid black;
  padding: 20px;
  margin: 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
}

h2 {
  margin: 5px 0;
  position: relative;
  top: -30px;
}

.search {
  position: relative;
  top: -60px;
}

.submit-1 {
  position: relative;
  top: -60px;
}

.today-temp-max {
  font-size: 50px;
  font-weight: bold;
  left: -40px;
  position: relative;
  top: -99px;
  text-align: right;
}

.units {
  font-size: 20px;
  left: 180px;
  position: relative;
  top: -160px;
}

.today-temp-min {
  font-size: 23px;
  left: -40px;
  position: relative;
  top: -110px;
  text-align: right;
}

.today-weather {
  color: orange;
  font-size: 80px;
  position: relative;
  top: -80px;
}

ul {
  left: 100px;
  list-style-type: none;
  padding: 0px;
  position: relative;
  top: -90px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.fa-cloud-sun {
  font-size: 20px;
  text-align: center;
  width: 100%;
}
.temp-max {
  margin: 0;
  text-align: center;
}

.temp-min {
  font-size: 14px;
}
